* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Oxygen", "Roboto", sans-serif;
  background: rgb(181,125,125);
  background: -moz-linear-gradient(351deg, rgba(181,125,125,1) 0%, rgba(87,35,54,1) 100%);
  background: -webkit-linear-gradient(351deg, rgba(181,125,125,1) 0%, rgba(87,35,54,1) 100%);
  background: linear-gradient(351deg, rgba(181,125,125,1) 0%, rgba(87,35,54,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b57d7d",endColorstr="#572336",GradientType=1);
}

h1 {
  font-size: 24px;
}
header {
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#375b6d",endColorstr="#223843",GradientType=1);
  height: 100px;
}
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  width: 100%;
}



.imagen {
  width: 100%;
}
.card-container {
  display: flex;
  margin-top: auto;
  align-items: center;
  align-self: flex-start;

}
.main1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  width: 100%;
  align-items: center;

}

.button1{

  font-size: larger;
  text-align: center;
  background-color: #dabebe;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
 

}
.bottom{
 
display: flex;
justify-content: center;
}
.button1:hover{
  background-color: rgba(0, 0, 0, 0.194);
}
h3 {
  align-self: center;
  padding: 10px;
}

.description {
  align-self: flex-end;
  height: 30%;
  align-items: center;
}

.additional-info {
  align-self: baseline;
}