* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Oxygen", "Roboto", sans-serif;
  background-color: #dbd3d8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 24px;
}
header {
  background: rgb(55, 91, 109);
  background: -moz-linear-gradient(
    5deg,
    rgba(55, 91, 109, 1) 0%,
    rgba(34, 56, 67, 1) 100%
  );
  background: -webkit-linear-gradient(
    5deg,
    rgba(55, 91, 109, 1) 0%,
    rgba(34, 56, 67, 1) 100%
  );
  background: linear-gradient(
    5deg,
    rgba(55, 91, 109, 1) 0%,
    rgba(34, 56, 67, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#375b6d",endColorstr="#223843",GradientType=1);
  height: 100px;
}
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.card {
  width: 20%;
  margin: 5px;
  border-radius: 5px;
  background-color: #d8b4a0;
  text-align: center;
  padding: 10px;
}

.imagen {
  width: 100%;
}
.card-container {
  display: flex;
  margin-top: auto;
  align-items: center;
}
.main1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  width: 100%;
  align-items: center;

}
.card1{ 
  width: 90%;
  height: 50%;
  margin: 15px;
  border-radius: 5px;
  background-color: #d8b4a0;
  text-align: center;
  padding: 30px;
  display: inline-flex;

 
}

h3 {
  align-self: center;
  padding: 10px;
}

.description {
  align-self: flex-end;
  height: 30%;
  align-items: center;
}

.additional-info {
  align-self: baseline;
}