.img{
z-index: 0;
width: 60%;
}
.logo{
    width: 15%;
    margin-top: 10px;
}

.filter {
    height: 30px;
    text-align: center;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-bottom: 7px;
    left: 50%;
    margin-left: -60px;
    /* tiempo hasta que termine de aparecer 2 seg, les parece bien? */
    opacity: 0;
    transition: opacity 2s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.header{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin-left: 100px;
margin-right: 100px;
}
