.img{
z-index: 0;
width: 50%;
}
.logo{
    width: 15%;
    margin-top: 10px;
}

.filter {
    height: 30px;
    text-align: center;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-bottom: 7px;
    right: 50%;
  
    /* tiempo hasta que termine de aparecer 2 seg, les parece bien? */
    opacity: 0;
    transition: opacity 2s;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

.header{
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: fit-content;
position: fixed;
background: -webkit-linear-gradient(
    351deg,
    rgba(181, 125, 125, 1) 0%,
    rgba(87, 35, 54, 1) 100%
  );
  background: linear-gradient(
    351deg,
    rgba(181, 125, 125, 1) 0%,
    rgba(87, 35, 54, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b57d7d",endColorstr="#572336",GradientType=1);

}
